version: '3'
services:
  treenity-backend:
    container_name: treenity-backend-container
    build: backend
    image: treenity-backend-image
    depends_on:
      - treenity-db
    ports:
      - "8080:8080"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      MAIL_USER: ${MAIL_USER}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      TOKEN_LINK: ${TOKEN_LINK}

  treenity-frontend:
    container_name: treenity-frontend-container
    build:
      context: frontend
      args:
        REACT_APP_BASE_BACKEND_URL: ${REACT_APP_BASE_BACKEND_URL}
        PUBLIC_URL: ${FRONTEND_PUBLIC_URL}
    image: treenity-frontend-image
    ports:
      - "80:80"

  treenity-db:
    container_name: treenity-database-container
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - treenity-volume:/data/db

volumes:
  treenity-volume: