version: '3'
services:
  treenity-backend:
    container_name: treenity-backend-container
    build: backend
    image: treenity-backend-image
    depends_on:
      - treenity-db
    ports:
      - "8080:8080"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  treenity-frontend:
    container_name: treenity-frontend-container
    build: frontend
    image: treenity-frontend-image
    ports:
      - "3000:3000"

  treenity-db:
    container_name: treenity-database-container
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - treenity-volume:/data/db

volumes:
  treenity-volume: