* {
}

body {
    margin: 0;
}

h3 {
    margin: 15px;
}

.panel--button {
    margin: 10px;
}

.panel--form {
    border: black solid 1px;
    padding: 10px;
}

.panel--form--input {
    margin: 5px;
}

input[type="number"] {
    width: 50px;
}

input[type="text"],
input[type="number"],
select {
    float: right;
    clear: both;
}

.error {
    color: red;
    font-size: 12px;
}